{% extends "base.html" %}

{% block content %}

    <div class="error-container">
        <h2 class="title is-2">Forbidden Error (403)</h2>
        <p class="error-message">The server understood the request, but it refuses to authorize it.</p>
        <p class="external-link">
            For more information, you can visit the
            <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/403" target="_blank" rel="noopener noreferrer">
                Mozilla HTTP Status Code Documentation
            </a>.
        </p>
    </div>

{% endblock %}