{% extends "base.html" %}

{% block content %}

    <div class="error-container">
        <h2 class="title is-2">Service Unavailable Error (503)</h2>
        <p class="error-message">The server is not ready to handle the request. Common causes include server maintenance or temporary overload.</p>
        <p class="external-link">
            For more information, you can visit the
            <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/503" target="_blank" rel="noopener noreferrer">
                Mozilla HTTP Status Code Documentation
            </a>.
        </p>
    </div>

{% endblock %}